</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Four Eyes Dev <img src="https://cdn-icons-png.flaticon.com/512/4360/4360337.png" alt="glasses icon" style="width: 32px;"></p>
  </div>
</div>
</body>
</html>