nav{
  background-image: -webkit-linear-gradient(60deg, #8ed4c6 55%, #3fc0a6 45%);
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
}
.navbar-nav  li a {
  color: #ffffff !important;
}

.navbar-nav  li a:hover {
  color: #003d12 !important;
}

.footer-padding {
padding-bottom: 60px;
}

.footer {
position: absolute;
text-align: center;
bottom: 0;
width: 100%;
height: 70px;
background-color: #19a489;
}

.footer p {
margin-top: 25px;
font-size: 12px;
color: #fff;
}

.padding{
  padding: 5px;
  margin: 5px;
}

.fullwidth{
  width: 100%;
}

.submitBtnDesign{
  color: #ffffff;
  background-color: #3272AB;
  border: 0.5px solid #3272AB;
  padding: 6px;
  border-radius: 5px;
}